<div class="page-header">
    <h1><span class="glyphicon glyphicon-user"></span> Customers</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" name="add_customer_form" ng-submit="add_customer_form.$valid && customers.add()" novalidate>
            <div class="form-group">
                <input type="text" ng-model="customers.newCustomer.first_name" ng-class="{'alert-warning': add_customer_form.first_name.$invalid && add_customer_form.first_name.$dirty}" class="form-control" name="first_name" placeholder="First Name" required>
                <div class="text-danger">
                    <small ng-show="add_customer_form.first_name.$valid || add_customer_form.first_name.$pristine">&nbsp;</small>
                    <small ng-show="add_customer_form.first_name.$error.required && add_customer_form.first_name.$dirty">First Name is required</small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="customers.newCustomer.last_name" ng-class="{'alert-warning': add_customer_form.last_name.$invalid && add_customer_form.last_name.$dirty}" class="form-control" name="last_name" placeholder="Last Name" required>
                <div class="text-danger">
                    <small ng-show="add_customer_form.last_name.$valid || add_customer_form.last_name.$pristine">&nbsp;</small>
                    <small ng-show="add_customer_form.last_name.$error.required && add_customer_form.last_name.$dirty">Last Name is required</small>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Add New Customer</button>
                <div class="text-danger">
                    <small>&nbsp;</small>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Shopping Cart</th>
            <th>Cheque</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="customer in customers.added track by customer.id">
            <td>{{customer.id}}</td>
            <td>
                <span ng-hide="customer.editable">{{customer.first_name}}</span>
                <input type="text" ng-model="customer.first_name" ng-show="customer.editable" class="form-control input-sm">
            </td>
            <td>
                <span ng-hide="customer.editable">{{customer.last_name}}</span>
                <input type="text" ng-model="customer.last_name" ng-show="customer.editable" class="form-control input-sm">
            </td>
            <td><a href="" ng-click="app.changePath('/cart/' + customer.id)"><span class="glyphicon glyphicon-shopping-cart"></span> {{customer.cart.length}} products</a></td>
            <td>{{customers.service.customerCheque(customer.id)}} $</td>
            <td>
                <button ng-click="customers.edit(customer)" ng-hide="customer.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="customers.remove(customer)" ng-hide="customer.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <button ng-click="customers.saveEdit(customer)" ng-show="customer.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="customers.cancelEdit(customer)" ng-show="customer.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
