<div class="page-header">
    <h1><span class="glyphicon glyphicon-th-large"></span> Products</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <form class="form-inline" ng-submit="products.add()">
            <div class="form-group">
                <input type="text" ng-model="products.newProduct.name" class="form-control" id="product_name" placeholder="Product Name">
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="product_category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted">Category:</span>
                        <span class="glyphicon glyphicon-{{products.categories.byId(products.newProduct.category).icon}}"></span>
                        {{products.categories.byId(products.newProduct.category).name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="product_category">
                        <li ng-repeat="category in products.categories.all track by category.id">
                            <a href="" ng-click="products.setCategory(products.newProduct, category)">
                                <span class="glyphicon glyphicon-{{category.icon}}"></span> {{category.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="number" ng-model="products.newProduct.price" class="form-control" id="product_price" placeholder="Price">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                </div>
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span> Add New Product</button>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products.added track by product.id">
            <td>{{product.id}}</td>
            <td>
                <span ng-hide="product.editable">{{product.name}}</span>
                <input type="text" ng-model="product.name" ng-show="product.editable" class="form-control input-sm">
            </td>
            <td>
                <span ng-hide="product.editable">
                    <span class="glyphicon glyphicon-{{products.categories.byId(product.category).icon}}"></span>
                    {{products.categories.byId(product.category).name}}
                </span>

                <div class="dropdown" ng-show="product.editable">
                    <button class="btn btn-default dropdown-toggle" type="button" id="product_{{product.id}}_category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-{{products.categories.byId(product.category).icon}}"></span>
                        {{products.categories.byId(product.category).name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="product_{{product.id}}_category">
                        <li ng-repeat="category in products.categories.all track by category.id">
                            <a href="" ng-click="products.setCategory(product, category)">
                                <span class="glyphicon glyphicon-{{category.icon}}"></span> {{category.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <span ng-hide="product.editable">{{product.price}} $</span>
                <input type="number" ng-model="product.price" ng-show="product.editable" class="form-control input-sm" />
            </td>
            <td>
                <button ng-click="products.edit(product)" ng-hide="product.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="products.remove(product)" ng-hide="product.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <button ng-click="products.saveEdit(product)" ng-show="product.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="products.cancelEdit(product)" ng-show="product.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>

    </tbody>
</table>
