<div class="page-header">
    <h1><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <small>{{cart.customer.first_name}} {{cart.customer.last_name}}</small></h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" ng-submit="cart.add()">
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="product" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted">Product:</span>
                        {{cart.product(cart.newPurchase.product).name}}
                        <small class="text-muted">
                            <span class="glyphicon glyphicon-{{cart.category(cart.product(cart.newPurchase.product).category).icon}}"></span>
                            {{cart.category(cart.product(cart.newPurchase.product).category).name}}
                        </small>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="product">
                        <li ng-repeat="product in cart.products track by product.id">
                            <a href="" ng-click="cart.setProduct(cart.newPurchase, product)">
                                {{product.name}}
                                <small class="text-muted">
                                    <span class="glyphicon glyphicon-{{cart.category(product.category).icon}}"></span>
                                    {{cart.category(product.category).name}}
                                </small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <strong>Price:</strong> {{cart.product(cart.newPurchase.product).price}} $</span>
            </div>
            <div class="form-group">
                <input type="number" ng-model="cart.newPurchase.amount" class="form-control" id="amount" placeholder="Amount">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
        </form>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Price</th>
            <th>Ammount</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="purchase in cart.customer.cart track by $index">
            <td>{{$index + 1}}</td>
            <td>
                {{cart.product(purchase.product).name}}
                <small class="text-muted">
                    <span class="glyphicon glyphicon-{{cart.category(cart.product(purchase.product).category).icon}}"></span>
                    {{cart.category(cart.product(purchase.product).category).name}}
                </small>
            </td>
            <td>{{cart.product(purchase.product).price}} $</td>
            <td>
                <span ng-hide="purchase.editable">{{purchase.amount}}</span>
                <input type="number" ng-model="purchase.amount" ng-show="purchase.editable" class="form-control input-sm" />
            </td>
            <td>{{cart.total(purchase)}} $</td>
            <td>
                <button ng-click="cart.edit($index)" ng-hide="purchase.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="cart.remove($index)" ng-hide="purchase.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <button ng-click="cart.saveEdit($index)" ng-show="purchase.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="cart.cancelEdit($index)" ng-show="purchase.editable" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="pull-right"><strong>Altogether: {{cart.altogether()}} $</strong></h4>
    </div>
</div>
